<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">
            <servlet>
                <servlet-name>index</servlet-name>
                <servlet-class>com.liux.InitServlet</servlet-class>
            </servlet>
            <servlet-mapping>
                <servlet-name>index</servlet-name>
                <url-pattern>/index</url-pattern>
            </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
